li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.4s;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(../image/Fondo.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-position: center;
}

body::-webkit-scrollbar {
  width: 10px;
  background-image: linear-gradient(to bottom, #21025b, #230265, #24036f, #250379, #250484, #1f2196, #1435a8, #0048b8, #0069c8, #0083c8, #009abf, #1caeb5);
  border-radius: 1px solid black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(158, 255, 255, 0.55);
  border-radius: 75px;
}

#particle-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.headerContainer {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(15px);
  background-color: rgba(158, 255, 255, 0.15);
}
.headerContainer .ulHeader {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 0px;
}
.headerContainer .ulHeader li {
  width: 25%;
  height: 100%;
  transition: all 0.25s;
  padding-top: 15px;
}
.headerContainer .ulHeader li:hover {
  background-color: rgba(158, 255, 255, 0.55);
}
.headerContainer .ulHeader li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.headerContainer .ulHeader li a p {
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

.primeraSeccion {
  width: 100%;
  height: 100vh;
  margin: 0;
  top: 0;
  display: flex;
  align-items: center;
  position: relative;
}
.primeraSeccion .perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
  margin: 0 auto;
  padding: 25px;
  backdrop-filter: blur(5px);
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 50px;
  box-shadow: 0px 0px 10px black;
  text-shadow: 2px 2px 3px #50505094;
}
.primeraSeccion .perfil:hover {
  transform: scale(1.04);
  background-color: rgba(255, 255, 255, 0.75);
  text-shadow: 2.5px 2.5px 5px #505050;
}
.primeraSeccion .perfil .parrafoSec1 {
  padding-left: 30px;
}
.primeraSeccion .perfil .parrafoSec1 h2 {
  display: flex;
  justify-content: center;
}
.primeraSeccion .perfil .parrafoSec1 .botonCV {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #009abf;
  border-radius: 40px;
  box-shadow: 0px 0px 10px black;
  text-shadow: 2px 2px 3px #50505094;
  color: black;
}
.primeraSeccion .perfil .parrafoSec1 .iconoDescarga {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}
.primeraSeccion .perfil .img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.seccion2 {
  width: 100%;
  height: 100%;
  padding: 10% 0px 0px 0px;
  position: relative;
}
.seccion2 .proyectosContenedor {
  backdrop-filter: blur(5px);
  background-color: rgba(240, 240, 240, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.seccion2 .proyectosContenedor:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.seccion2 .proyectosContenedor .proyectos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.seccion2 .proyectosContenedor .proyectos h3 {
  font-size: 3rem;
  text-align: center;
}
.seccion2 .proyectosContenedor .proyectos .botonesSecDos a {
  margin-right: 10px;
  padding: 8px;
  background-color: #009abf;
  border-radius: 75px;
  box-shadow: 0px 0px 10px black;
  text-shadow: 2px 2px 3px #50505094;
  color: black;
}

/*# sourceMappingURL=style.css.map */
